<% unless current_user?(@user) %>
<!-- listing 11.23 - a partial for follow/unfollow form -->
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>