<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
<!-- 	see listing 9.37 -->
		<%= render @users %>  
	<% end %>
</ul>

<%= will_paginate %>